<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/favicon.svg" type="image/xml+svg" />
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Proyecto | <%= pageTitle %>
    </title>
</head>

<body class="dark:bg-gray-900 dark:text-white">
    <div class="grid grid-cols-[max-content,1fr] h-screen">
        <%- include('layouts/sidebar'); %>

            <main class="p-16">
                <header class="mb-6 pb-2 flex justify-between">
                    <h1 class="text-3xl font-semibold text-gray-700 flex items-center gap-2 dark:text-white">
                        <span>
                            <%= !project ? 'Add A New Project' : 'Edit Project' ; %>
                        </span>
                    </h1>
                </header>

                <section>
                    <form action="<%= !project ? '/projects' : '/projects/'+project.id+'/update' ; %>" method="post">
                        <div class="mb-6">
                            <label for="title"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Project
                                Title</label>
                            <input type="text" id="title" name="title" value="<%= project?.title %>"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required />
                        </div>

                        <div class="mb-6">
                            <label for="description"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Description</label>
                            <textarea id="description" name="description" rows="4"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required>
<%= project?.description %></textarea>
                        </div>

                        <div class="mb-6">
                            <label for="start_date"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Start
                                Date</label>
                            <input type="date" id="start_date" name="start_date"
                                value="<%= project ? new Date(project.start_date).toISOString().split('T')[0] : '' %>"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required />
                        </div>

                        <div class="mb-8">
                            <label for="due_date"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Due Date</label>
                            <input type="date" id="due_date" name="due_date"
                                value="<%= project ? new Date(project.due_date).toISOString().split('T')[0] : '' %>"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required />
                        </div>

                        <button type="submit"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <%= !project ? 'Create project' : 'Save changes' ; %>
                        </button>
                    </form>
                </section>
            </main>
    </div>
</body>

</html>